.input {
    height: 30px;
    padding: 14px 14px;
    width: 50%;
}

button {
    margin-top: 4px;
    border: none;
    color: white;
    background-color: #008CBA; /* Green */
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 51%;
    height: 60px;
    cursor: pointer;
}

button:hover, button:active {
    background-color: #87CEFA;
}

button:focus {
    outline:0;
}

a:link, a:visited {
    background-color: #008CBA;
    color: white;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    height: 30px;
    width: 50%;
    margin-top: 4px;
}


a:hover, a:active {
    background-color: #87CEFA;
}