body {
    padding: 0;
    margin: 0;
    background-color: #282828;
}

html, body, {
	height: 100%;
}

.map {
    height: 90%;
}

.nav {
    height: 10%;
    margin-top: -3px;
    display: flex; 
	align-items: center;
	justify-content: center;
}


.infoElement{
	margin-top: 3px;
    width: 31%;
}

.w3-input{color: white;background-color: #282828;display:block;border:none;border-bottom:1px solid #808080;width:90px}
.w3-label{font-weight: bold;color:#009688}.w3-input:not(:valid)~.w3-validate{color:#f44336}