.input {
    height: 30px;
    padding: 14px 14px;
    border:none;
    border-bottom:1px solid #808080;
    width: 90%;
}

button {
    margin-top: 4px;
    border: none;
    color: #009688;
    background-color: white; /* Green */
    padding: 14px 14px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: "Sans-serif";
    font-size: 20px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

button:hover, button:active {
    background-color: #87CEFA;
}

button:focus {
    outline:0;
}

/*button {
    margin-top: 4px;
    border: none;
    color: white;
    background-color: #008CBA;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 51%;
    height: 60px;
    cursor: pointer;
}

button:hover, button:active {
    background-color: #87CEFA;
}

button:focus {
    outline:0;
}*/

a:link, a:visited {
    color: #009688;
    font-family: "Sans-serif";
    font-size: 20px;
    padding-bottom: 14px;
    padding-top: 14px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    /*margin: auto;*/
    height: 30px;
    width: 100%;

    /*border:none;border-bottom:1px solid #009688;*/
}


a:hover, a:active {
    background-color: #87CEFA;
}