body {
    padding: 0;
    margin: 0;
    background-color: #282828;
}

html, body, {
	height: 100%;
}

.map {
    height: 85%;
}

#nav {
    height: 15%;
    text-align: center;
  display: flex; 
    align-items: center;
    justify-content: center;
}

.infoElement{
    height: 99%;
    padding: 0px 10px;
    text-decoration: none;
    border: none;
    background-color: #282828;
}

.infoElement:hover, .infoElement:active {
    background-color: #30705E;
}

.infoElement:focus {
    outline:0;
}

.w3-label{font-weight: bold;color:#009688}