body {
    padding: 0;
    margin: 0;
    background-color: #008CBA;
}

html, body, {
	height: 100%;
}

.map {
    height: 95%;
}

button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    height: 5%;

    margin: -1px 0px -1px 0px;
}

button:hover, button:active {
    background-color: #87CEFA;
}

button:focus {
    outline:0;
};